{% extends "base.html" %}

{% block main %}
    <main>
      
      <h2 class="boletin-head">Predicción por Comunidades Autónomas</h2>
      <h3 class="boletin-head">Valida para el {{fechaNatural}}</h3>
      <div>
	<h3 class="boletin">CATALUÑA</h3>
	
	<div class="boletin">
	  <h4>D-2</h4>
	  {{bolcat2}}
	</div>
	
	<div class="boletin">
	  <h4>D-1</h4>
	  {{bolcat1}}
	</div>
      </div>

	<h3 class="boletin">ARAGÓN</h3>
	
	<div class="boletin">
	  <h4>D-2</h4>
	  {{bolara2}}
	</div>
	
	<div class="boletin">
	  <h4>D-1</h4>
	  {{bolara1}}
	</div>
      </div>

	<h3 class="boletin">VALENCIA</h3>
	
	<div class="boletin">
	  <h4>D-2</h4>
	  {{bolval2}}
	</div>
	
	<div class="boletin">
	  <h4>D-1</h4>
	  {{bolval1}}
	</div>
      </div>

	<h3 class="boletin">ILLES BALEARS</h3>
	
	<div class="boletin">
	  <h4>D-2</h4>
	  {{bolbal2}}
	</div>
	
	<div class="boletin">
	  <h4>D-1</h4>
	  {{bolbal1}}
	</div>
      </div>

    </main>
{% endblock main %}

