{% extends "base.html" %}

{% block main %}
    <main>
      
       <section>
	 <h2>Nieve en 24 horas</h2>
	
	<div class="row">
	  <div class="figura">
	    <h3>ESTIMACIÓN</h3>
	    <img src="P_Nieve_0000_24.jpg">
	  </div>
	  <div class="figura">
	    <h3>HRES-IFS</h3>
	    <img src="MOD00CEP1048NIEVE_24.1.png">
	  </div>
	</div>
	
	<div class="row">
	  <div class="figura">
	    <h3>HARM 40</h3>
	    <img src="MOD00HMARP1048NIEVE_24.1.png">
	  </div>
	  <div class="figura">
	    <h3>HARM 38</h3>
	    <img src="MOD00HMAR2P1048NIEVE_24.1.png">
	  </div>
	</div>
      </section>
	
      <section>
	<h2>Cota de nieve mínima en 24 horas</h2>
	
	<div class="row">
	  <div class="figura">
	    <h3>HRES-IFS</h3>
	    <img src="MOD00CEP1048COTANIEMIN_24.1.png">
	  </div>
	  <div class="figura">
	    <h3>HARM 40</h3>
	    <img src="MOD00HMARP1048COTANIEMIN_24.1.png">
	  </div>
	</div>
	
      </section>

    </main>
{% endblock main %}

