{% extends "base.html" %}

{% block main %}
    <main>
      
      <h2>Precipitación en 24 horas</h2>

      <div class="navegacion-chiqui">
	<a href="http://veleta2.inm.es/~sema/nacha.cgi?ano={{fechaPosterior.any}}&mes={{fechaPosterior.mes}}&day={{fechaPosterior.dia}}&hora=0&min=0&lat=42N&lon=00E&esc=08&vp24=P24" target="_blank">SAIH</a>
	<a href="https://www.avamet.org/mx-meteoxarxa.php?id={{fecha.any}}-{{fecha.mes}}-{{fecha.dia}}" target="_blank">Avamet</a>
	<a href="http://www.meteo.cat/observacions/xema?dia={{fecha.any}}-{{fecha.mes}}-{{fecha.dia}}T00:00Z" target="_blank">Meteocat</a>
      </div>
      
      <select name="pasada" id="choose">
	<option value=1 selected>Pasada D   00</option>
	<option value=2>Pasada D-1 12</option>
	<option value=3>Pasada D-1 00</option>
      </select>
      <section id="s1">
	<div class="row">
	  <div class="figura">
	    <h3>OBSERVADO</h3>
	    <img src="P_Prec_0000_24.jpg">
	  </div>
	  <div class="figura">
	    <h3>HRES-IFS</h3>
	    <img src="MOD00CEP1024PCP_24.1.png">
	  </div>
	</div>
	<div class="row">
	  <div class="figura">
	    <h3>HARM 40</h3>
	    <img src="MOD00HMARP1024PCP_24.1.png">
	  </div>
	  <div class="figura">
	    <h3>HARM 38</h3>
	    <img src="MOD00HMAR2P1024PCP_24.1.png">
	  </div>
	</div>
	<div class="row">
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 1 mm
	    </h3>
	    <img src="MOD00CEEPSP1P1024PDP_24_1.1.png">
	  </div>
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 5 mm
	    </h3>
	    <img src="MOD00CEEPSP1P1024PDP_24_5.1.png">
	  </div>
	</div>
	<div class="row">
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 20 mm
	    </h3>
	    <img src="MOD00CEEPSP1P1024PDP_24_20.1.png">
	  </div>
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 40 mm
	    </h3>
	    <img src="MOD00CEEPSP1P1024PDP_24_40.1.png">
	  </div>
	</div>
      </section>

      <section id="s2">
	<div class="row">
	  <div class="figura">
	    <h3>OBSERVADO</h3>
	    <img src="P_Prec_0000_24.jpg">
	  </div>
	  <div class="figura">
	    <h3>HRES-IFS</h3>
	    <img src="MOD12CEP1036PCP_24.1.png">
	  </div>
	</div>
	<div class="row">
	  <div class="figura">
	    <h3>HARM 40</h3>
	    <img src="MOD12HMARP1036PCP_24.1.png">
	  </div>
	  <div class="figura">
	    <h3>HARM 38</h3>
	    <img src="MOD12HMAR2P1036PCP_24.1.png">
	  </div>
	</div>
	<div class="row">
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 1 mm
	    </h3>
	    <img src="MOD12CEEPSP1P1036PDP_24_1.1.png">
	  </div>
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 5 mm
	    </h3>
	    <img src="MOD12CEEPSP1P1036PDP_24_5.1.png">
	  </div>
	</div>
	<div class="row">
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 20 mm
	    </h3>
	    <img src="MOD12CEEPSP1P1036PDP_24_20.1.png">
	  </div>
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 40 mm
	    </h3>
	    <img src="MOD12CEEPSP1P1036PDP_24_40.1.png">
	  </div>
	</div>
      </section>

      <section id="s3">
	<div class="row">
	  <div class="figura">
	    <h3>OBSERVADO</h3>
	    <img src="P_Prec_0000_24.jpg">
	  </div>
	  <div class="figura">
	    <h3>HRES-IFS</h3>
	    <img src="MOD00CEP1048PCP_24.1.png">
	  </div>
	</div>
	<div class="row">
	  <div class="figura">
	    <h3>HARM 40</h3>
	    <img src="MOD00HMARP1048PCP_24.1.png">
	  </div>
	  <div class="figura">
	    <h3>HARM 38</h3>
	    <img src="MOD00HMAR2P1048PCP_24.1.png">
	  </div>
	</div>
	<div class="row">
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 1 mm
	    </h3>
	    <img src="MOD00CEEPSP1P1048PDP_24_1.1.png">
	  </div>
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 5 mm
	    </h3>
	    <img src="MOD00CEEPSP1P1048PDP_24_5.1.png">
	  </div>
	</div>
	<div class="row">
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 20 mm
	    </h3>
	    <img src="MOD00CEEPSP1P1048PDP_24_20.1.png">
	  </div>
	  <div class="figura">
	    <h3>
	      <span class="left-block">EPS</span>
	      P > 40 mm
	    </h3>
	    <img src="MOD00CEEPSP1P1048PDP_24_40.1.png">
	  </div>
	</div>
      </section>

     </main>
{% endblock main %}

{% block script %}
{{super()}}
    <script src="../../js/pasada.js"></script>
{% endblock script %}
      
