{% extends "animacion.html" %}

{% block main %}
    <main class="radar">

      <h2 class="central"> Radar. Diagnóstico 2D </h2>
      <div class="container">
{{super()}}
	<img class="animacion" id="radar-2d" src="RAD00NAC00_RA2D.PNG">
      </div>

      <h2 class="central"> Radar. Acumulación en 24 horas </h2>
      
      <div class="row">
	<div class="figura">
	   <h3>ZARAGOZA</h3>
	   <img src="acumulacion24RadarZaragoza.gif">
	 </div>
	<div class="figura">
	   <h3>BARCELONA</h3>
	   <img src="acumulacion24RadarBarcelona.gif">
	 </div>
      </div>

      <div class="row">
	<div class="figura">
	   <h3>MURCIA</h3>
	   <img src="acumulacion24RadarMurcia.gif">
	 </div>
	<div class="figura">
	   <h3>VALENCIA</h3>
	   <img src="acumulacion24RadarValencia.gif">
	 </div>
      </div>
    </main>
{% endblock main %}

