{% extends "base.html" %}

{% block main %}
    <main>
      
      <h2>Rayos</h2>
      <section id="s1">
	
	<div class="row rayos">
	  <h3>OBSERVADO</h3>
	  <div class="figura">
	    <img src="P_Rayos_0000_24.jpg">
	  </div>
	  <div class="figura">
	    <img src="rayos_24h.png">
	  </div>
	</div>
	
	<div class="row">
	  <h3>HARMONIE - DENSIDAD DE RAYOS ESTIMADA</h3>
	  <div class="figura">
	    <h4>PASADA D-1 00</h4>
	    <img src="rayos_harmonie_d2.png" class="rayos_harm">
	  </div>
	  <div class="figura">
	    <h4>PASADA D 00</h4>
	    <img src="rayos_harmonie_d1.png" class="rayos_harm">
	  </div>
	</div>
	
      </section>

    </main>
{% endblock main %}

