{% extends "base.html" %}

{% block main %}
    <main>
           
      <h2>Situación sinóptica</h2>
      <section id="s1">
	
	<div class="row">
	  <div class="figura">
	    <h3>Guía técnica de diagnóstico. Niveles medios/altos</h3>
	    <img src="g22fa200.png">
	  </div>
	  <div class="figura">
	    <h3>Análisis de superficie</h3>
	    <img src="gpx0a200.png">
	  </div>
	</div>
	
	<div class="row">
	  <div class="figura">
	    <h3>Superficie: P y Nubosidad</h3>
	    <img src="MOD00CES1012NUB.1.png">
	  </div>
	  <div class="figura">
	    <h3>Nivel 850 hPa: T Z</h3>
	    <img src="MOD00CES1012TZ_850.1.png">
	  </div>
	</div>
	
	<div class="row">
	  <div class="figura">
	    <h3>Nivel 500 hPa: T Z</h3>
	    <img src="MOD00CES1012TZ_500.1.png">
	  </div>
	  <div class="figura">
	    <h3>Nivel 300 hPa: T Z</h3>
	    <img src="MOD00CES1012TZ_300.1.png">
	  </div>
	</div>
	
      </section>

    </main>
{% endblock main %}
