{% extends "base.html" %}

{% block main %}
    <main>
      
      <h2>Temperatura máxima</h2>
      <section id="s1">
	
	<div class="row">
	  <div class="figura">
	    <h3>OBSERVADO</h3>
	    <img src="P_Max_0000_24.jpg">
	  </div>
	  <div class="figura">
	    <h3>IFS</h3>
	    <img src="MOD00CEP1048TMAX_24.1.png">
	  </div>
	</div>
	
	<div class="row">
	  <div class="figura">
	    <h3>HARM 40</h3>
	    <img src="MOD00HMARP1048TMAX_24.1.png">
	  </div>
	  <div class="figura">
	    <h3>HARM 38</h3>
	    <img src="MOD00HMAR2P1048TMAX_24.1.png">
	  </div>
	</div>
	
      </section>

      <h2>Temperatura mínima</h2>
      <section id="s1">
	
	<div class="row">
	  <div class="figura">
	    <h3>OBSERVADO</h3>
	    <img src="P_Min_0000_24.jpg">
	  </div>
	  <div class="figura">
	    <h3>IFS</h3>
	    <img src="MOD00CEP1048TMIN_24.1.png">
	  </div>
	</div>
	
	<div class="row">
	  <div class="figura">
	    <h3>HARM 40</h3>
	    <img src="MOD00HMARP1048TMIN_24.1.png">
	  </div>
	  <div class="figura">
	    <h3>HARM 38</h3>
	    <img src="MOD00HMAR2P1048TMIN_24.1.png">
	  </div>
	</div>
      
      </section>

    </main>
{% endblock main %}
